/* Navbar styles */
.header-nav-bar {
    display: flex;
    justify-content: center;
}

/* For the image in the navigation bar */
.header-nav-bar img {
    width: 35%;
    max-width: 100%;
    margin-right: 5vw; 
    /* view width takes into account how someone views the image/text compared to a pixel */
}

/* For the navigation bar */
ul#navigation-list {
    min-width: 55vw;
    list-style: none;
    padding-top: 2.5vw;
}

/* For the inline of the navigation text */
ul#navigation-list li {
    display: inline;
    padding: 40px;
    color: gold;
    font-weight: bold;
}

ul#navigation-list a {
    text-decoration: none; /* this gets rid of the underline */
    padding: 10px;
    border: 3px solid blue;
    border-radius: 10px;
    margin-right: 0.2vw;
    font-size: 20px;
}